main img[alt="logo"] {
	display: block;
	width: 200px;
	margin: auto;
	margin-bottom: 40px;
 }

#hero-img {
	width: 100%;
	aspect-ratio: 10 / 3;
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #f2d7c9;
	text-align: center;
	user-select: none;
}

#hero-img span {
	font-size: 30px;
	font-weight: bold;
}

#hero-img img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 35%;
}

div:has(#notice-section) {
	display: flex;
	align-items: center;
	margin: 10px 15px;
	background-color: #fdce68;
	border-radius: 20px;
}

div:has(#notice-section) i {
	margin-left: 20px;
}

#notice-section {
	width: 100%;
	height: 40px;
	margin-left: 15px;
	align-content: center;
}

#notice-section a {
	color: #212529;
	text-decoration-line: none;
	font-weight: bold;
}

#notice-section p { margin: 0; }

article > a {
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
	color: black;
	text-decoration-line: none;
}

article > a > p {
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 0;
	border-bottom: 1px solid lightgray;
}

#contents-bundle {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}

#left-contents { width: 25%; }
#right-contents { width: 70%; }

.contents > article {
	display: block;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 20px;
}

article > section { padding: 10px; }

table {
	width: 100%;
	border-spacing: 5px;
	table-layout: fixed
}

tr > td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
tr > td:first-of-type { text-align: center; }
tr > td:last-of-type { text-align: end; padding-right: 10px; }
tr > td:nth-child(2) { text-align: start; padding-left: 10px; }

tbody img {
	border-radius: 10%;
	display: block;
	margin: 0 auto;
}

#left-contents td { font-size: 15px; }

#community-article colgroup col:first-child { width: 15%; }
#community-article colgroup col:last-child { width: 85%; }

#shop-article img { width: 50px; height: 50px; }
#shop-article colgroup col:first-child { width: 25%; }
#shop-article colgroup col:last-child { width: 75%; }

#right-contents img { width: 100px; height: 100px; }
#right-contents colgroup col:first-child { width: 15%; }
#right-contents colgroup col:nth-child(2) { width: 20%; }
#right-contents colgroup col:nth-child(3) { width: 35%; }
#right-contents colgroup col:last-child { width: 30%; }

@media (pointer: coarse) {
	main {
		width: 100%;
	}

	main img[alt="logo"] {
		display: none;
	}

	#hero-img { aspect-ratio: 10 / 5; }
	
	#hero-img span { display: none; }
	
	#hero-img img {
		width: 100%;
		object-position: 50% 25%;
	}

	#contents-bundle {
		width: 100%;
		flex-direction: column-reverse;
	}

	#community-article colgroup col:first-child, tr td:first-child { width: 10%; }
	#community-article colgroup col:last-child { width: 90%; }
	#shop-article colgroup col:first-child, tr td:first-child { width: 20%; }
	#shop-article colgroup col:last-child { width: 80%; }

	#right-contents colgroup col:first-child, tr td:first-child { width: 0%; }
	#right-contents colgroup col:nth-child(2) { width: 20%; }
	#right-contents colgroup col:nth-child(3) { width: 80%; }
	#right-contents colgroup col:last-child { width: 0%; }
	#right-contents tr > td:nth-child(2) { padding-left: 0; }
	#right-contents tr > td:nth-child(3) { padding-left: 10px; }

	#left-contents, #right-contents {
		width: 90%;
		margin: auto;
	}

	#contents-bundle td img {
		width: 100%;
		aspect-ratio: 1 / 1;
		height: auto;
	}
}